<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>1990-2020/History</title>
  <!-- Custom CSS -->
  <link href="static/css/history-style.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- Header -->
  <div class="intro-header">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Hello and Welcome!</h1>
            <h2>Here you can learn about interesting history from 1990 to 2020:</h2>
            <h3>
              <a href="/aboutus">About us Page</a>
            </h3>
            <hr class="intro-divider">
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>

<div class="intro-header">
  <div class="content-section-a">
      <form method="POST" action="/sendMonth">
        <input type="text" name="month" placeholder="Enter a year 1990-2020">
        <input type="submit">
    </form>
  </div>
  <!-- /.content-section-a -->




<img border="0" width="1450" src="https://media.istockphoto.com/photos/walnut-wood-texture-super-long-walnut-planks-texture-background-picture-id1071233064?k=6&m=1071233064&s=170667a&w=0&h=cKUhPqc6jApYuGOIcSp8Vu61LxmtJBQAPrFM1ze9zuE="</img>
</body>

</html>